<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SM Academy - Home</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
    <link rel="shortcut icon" href="/static/image/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/academy.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <a href="index.html" class="logo">
                <img src="/static/image/favicon.png" alt="SM Academy Logo">
            </a>
            
            <div class="nav-links" id="navLinks">
                <span id="close" class="close-icon" onclick="hideMenu()">×</span>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/admission/">Admission</a></li>
                    <li><a href="/login/">Login</a></li>
                    <li><a href="/contact/">Contact</a></li>
                </ul>
            </div>
            <span id="bar" class="menu-icon" onclick="showMenu()">☰</span>
        </nav>