<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>SM Academy - Login</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"/>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags %} {{ message.tags }} {% endif %}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
   <div id="signup-container">
    <div class="signup-wrapper">
        <div class="signup-card">
            <h2>SM Academy Login</h2>
            <form method="post">
                {% csrf_token %}
                <div class="input-group">
                    <label for="fname">First Name</label>
                    <input type="text" id="fname" name="fname" placeholder="first name" required/>
                </div>
                <div class="input-group">
                    <label for="lname">Last Name</label>
                    <input type="text" id="lname" name="lname" placeholder="last name"/>
                </div>
                <div class="input-group">
                    <label for="email2">Email</label>
                    <input type="email" id="email2" name="email2" placeholder="@gmail.com" />
                </div>
                <div class="input-group">
                    <label for="password2">Password</label>
                    <input type="password" id="password2" name="password2" placeholder="....." required/>
                </div>
                <button type="submit" class="signup-btn">Register</button>
            </form>
            <div class="signIn-here">
                <p>have already account? <a href="/login/">SignIn</a></p>
            </div>
        </div>
    </div>  
</div>
</body>
</html>
</body>
</html>